*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: #15101C;
    color: #9E78CF;
    display: flex;
    justify-content: center;
}

/* Styling the todo container */
.todo-container{
    position: absolute;
    top: 30%;
    box-shadow: 0 4px 8px rgba(0, 0, 0, .3);
    padding: 20px;
    inline-size: 500px;
    background-color: #fff ;
    border-radius: 15px;

}

/* Styling the form */
.form{
    margin-block-end: 30px;
    display: flex;
    gap: 5px;
    align-items: center;
    

}

.input{
    /* border-color: #9E78CF; */
    border: none;
    width: 100%;
    padding: 10px;
    border-radius: 5px;
}

.btn{
    padding: 10px;
    background: #9E78CF;
    border: none;
    border-radius: 5px;
    color: white;
    cursor: pointer;
}

/* Styling the Todo List */

ul p{
    color: white;
    margin-block-end: 3px;
}

li{
    display: flex;
    justify-content: space-between;
    background: #15101C;
    margin-block-end: 5px;
    border-radius: 5px;
    padding: 10px;
    color: #9E78CF;
}

span{
    display:flex;
    gap: 5px;
    cursor: pointer;
}

/* Styling the features icon */
i:hover{
   box-shadow: 0 0 15px #fff;
}


